@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids|Roboto|Raleway');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.layout {
    font-family: Raleway;
}

.head {
    background-color: black;
    display: flex;
}

.logo {
    padding: 10px 0 0 20px;
    width: auto;
}

.navbar {
    column-span: 4;
    background-color: black;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-grow: .5;
}

.navItem {
    margin: 0;
    height: 100%;
    text-decoration: none;
    font-size: 18px;
    padding: 25px;
    color: white;
    background-color: black;
    border: none;
}
.navItem:hover {
    color: white;
    background-color: grey;
    width: 100%;
}

.sticky-section{
    position:sticky;
    position:-webkit-sticky;
    top:0px;
}

.menubar1 .menubar2 .menubar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    border-radius: 1px;
}


.navItemText {
    text-decoration: none;
    color: black;
}

main {
    grid-area: m;
}

.article_odd_number {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:    "p t";
    border: black dotted;
    border-width: 1px 0;

}
.article_even_number {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:    "t p";
    border: black dotted;
    border-width: 1px 0;

}

.article_text {
    grid-area: t;
    padding: 10px 20px;
    text-align: justify;
}

.article_picture {
    grid-area: p;
    max-width: 100%;
    justify-content: space-around;
    margin: 10px;
    grid-area: p;
    object-fit: cover;
    box-shadow: lightgray 5px left;
}

@media screen and (max-width: 600px) {

    .article_odd_number {
        width: 100%;
        display: flex;
        flex-direction: column;
        /*
        display: grid;
        grid-template-columns:  1fr;
        grid-template-areas:    "p"
                                "t";
        */
    }
    .article_even_number {
        max-width: 100%;
        display: flex;
        flex-direction: column;

    }
    .article_text {
        grid-area: t;
        flex-grow: 1;
    }

    .article_picture {
        grid-area: p;
        max-width: 100%;
        margin: 10px;
        padding-right: 10px;
        grid-area: p;
        object-fit: cover;
        box-shadow: lightgray 5px left;
    }
}



footer {
    padding: 20px;
    background-color: lightgray;
    grid-area: f;
    text-align: center;
}